{% extends 'base.html.twig' %}

{% block title %}Satellite view{% endblock %}

{% block nav %}{% endblock %}

{% block main %}
    <div data-tle-api="{{ path('tle_collection') }}" id="satellite-view"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/libs/orb.js/build/orb.v2.js') }}"></script>
    <script src="//maps.googleapis.com/maps/api/js?key={{ google_maps_key }}"></script>
    <script src="{{ asset('build/dashboard.js') }}"></script>
{% endblock %}

{% block footer %}{% endblock %}
