{% extends 'pages/container.html.twig' %}

{% block title %}{{ 'block.title'|trans }} | {{ parent() }}{% endblock %}

{% block messages %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                {% include 'components/messages.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h3 class="mt-3">{{ 'block.title'|trans }}</h3>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Reason</th>
                        <th>IP</th>
                        <th>Expire</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for lock in active %}
                        <tr>
                            <td>{{ lock.name }}</td>
                            <td>{{ lock.data }}</td>
                            <td>{{ lock.expire ? lock.expire|date : '-' }}</td>
                            <td>{{ include('pages/block/_delete_form.html.twig') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
