{% extends 'base.html.twig' %}

{% block title %}{% trans %}Users{% endtrans %} | {{ parent() }}{% endblock %}

{% block body %}
    {% include 'components/navigation.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <a class="btn btn-primary my-3" href="{{ path('user_new') }}">
                    <i class="fa fa-plus" aria-hidden="true"></i> {% trans %}Create{% endtrans %}
                </a>

                <table class="table">
                    <thead>
                    <tr>
                        <th>{% trans %}Email{% endtrans %}</th>
                        <th>{% trans %}Roles{% endtrans %}</th>
                        <th>{% trans %}Active{% endtrans %}</th>
                        <th>{% trans %}Verified{% endtrans %}</th>
                        <th>{% trans %}Last login{% endtrans %}</th>
                        <th>{% trans %}IP{% endtrans %}</th>
                        <th>{% trans %}Actions{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.email }}</td>
                            <td>
                                {% for role in user.roles %}
                                    <span class="badge badge-secondary">{{ role|replace({'ROLE_': '' })|capitalize|trans }}</span>
                                {% endfor %}
                            </td>
                            <td>{% if user.active %}
                                    <span class="badge badge-success">{% trans %}Yes{% endtrans %}</span>
                                {% else %}
                                    <span class="badge badge-danger">{% trans %}No{% endtrans %}</span>
                                {% endif %}
                            </td>
                            <td>{% if user.verified %}
                                    <span class="badge badge-success">{% trans %}Yes{% endtrans %}</span>
                                {% else %}
                                    <span class="badge badge-danger">{% trans %}No{% endtrans %}</span>
                                {% endif %}
                            </td>
                            <td>{{ user.lastLogin ? user.lastLogin|date : '-' }}</td>
                            <td>{{ user.ip ? user.ip : '-' }}</td>
                            <td>
                                <a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                {{ include('pages/user/_delete_form.html.twig', {'user': user}) }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">{% trans %}no records found{% endtrans %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
