{% extends 'base.html.twig' %}

{% block title %}Active Fire Data | {{ parent() }}{% endblock %}

{% block main %}
    <div id="firms" data-api-key="{{ google_maps_key }}" data-icon="{{ asset('build/images/fire.png') }}" style="width: 100%; height: calc(100% - 100px)"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//maps.googleapis.com/maps/api/js?key={{ google_maps_key }}&callback=renderFirms"></script>
    <script src="{{ asset('build/libs/google-maps-infobox.js') }}"></script>
{% endblock %}
