{% extends 'base.html.twig' %}

{% block title %}Active Fire Data | {{ parent() }}{% endblock %}

{% block content %}
    <div id="firms" data-api-key="{{ api_key }}" style="width: 100%; height: calc(100% - 100px)"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=renderFirms"></script>
    <script src="{{ asset('assets/js/libs/google-maps-infobox.js') }}"></script>
{% endblock %}
