<!doctype html>
<html lang="{{ app.request.locale }}" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}OpenData{% endblock %}</title>
    {% block head %}
        <link rel="stylesheet" href="{{ asset('assets/build/app.css') }}">
    {% endblock %}
</head>
<body>

{% block nav %}
<nav class="navbar bg-primary">
    <a class="navbar-brand" href="{{ path('app_data_index') }}">OpenData</a>
</nav>
{% endblock %}

{% block header %}{% endblock %}
{% block featured %}{% endblock %}
{% block content %}{% endblock %}

{% block footer %}
    <footer class="bg-primary">
        <div class="footer-copyright text-center py-3">Copyright © {{ "now"|date('Y') }}
            <a href="https://ivanstanojevic.me/"> Ivan Stanojević</a>.
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/build/runtime.js') }}"></script>
    <script src="{{ asset('assets/build/app.js') }}"></script>
    {% include 'components/google-analytics.html.twig' %}
{% endblock %}
</body>
</html>
