{% extends 'base.html.twig' %}

{% block title %}{% trans %}register.title{% endtrans %} | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <h3>{% trans %}register.title{% endtrans %}</h3>
                {{ include('components/messages.html.twig') }}
                {{ form_start(form) }}
                {{ form_widget(form) }}

                <div class="text-center mb-3">
                    <a href="{{ path('security_login') }}">{% trans %}register.goto_login{% endtrans %}</a>
                </div>

                <button class="btn btn-primary">{% trans %}register.submit{% endtrans %}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
