{% extends 'pages/security/_security_base.html.twig' %}

{% block title %}{{ 'recovery.title'|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <h3 class="mb-3 text-center">{{ 'recovery.title'|trans }}</h3>
    {{ include('components/messages.html.twig') }}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {% include 'components/form-submit.html.twig' with {'title':'recovery.submit'|trans } only %}
    {{ form_end(form) }}
{% endblock %}
