{% extends 'email/base.html.twig' %}

{% set url = url|default('#') %}

{% block title %}{{ subject|default('Email') }} | {{ parent() }}{% endblock %}

{% block content %}
    <tr>
        <td>
            <p>{{ "email.invite.heading"|trans({'%app_name%': app_name}) }}</p>
            <p>{{ "email.invite.explanation"|trans }}</p>
            <a class="btn btn-primary" href="{{ url }}">{{ 'email.invite.cta'|trans }}</a>
            <p>{{ "email.invite.footer"|trans }}</p>
        </td>
    </tr>
{% endblock %}
